{% load ddi_tags %}
<ddi:fragment   xmlns:ddi="ddi:instance:3_2"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="ddi:instance:3_2 http://www.ddialliance.org/Specification/DDI-Lifecycle/3.2/XMLSchema/instance.xsd"
                xmlns:c="ddi:conceptualcomponent:3_2"
                xmlns:r="ddi:reusable:3_2"
    >
    <c:ConceptualVariable isUniversallyUnique="True">
        {% include "aristotle_mdr/downloads/ddi3.2/concept_common.html" with tag_name='c:ConceptualVariable' %}
        {% if item.property %}
        <r:ConceptReference>
            <r:URN type="urn" typeOfIdentifier= "Canonical">{% make_urn item.property %}</r:URN>
            <r:TypeOfObject>Concept</r:TypeOfObject>
        </r:ConceptReference>
        {% endif %}
        {% if item.property %}
        <r:ConceptReference>
            <r:URN type="urn" typeOfIdentifier= "Canonical">{% make_urn item.property %}</r:URN>
            <r:TypeOfObject>Concept</r:TypeOfObject>
        </r:ConceptReference>
        {% endif %}
        {% if item.objectClass %}
        <r:UniverseReference>
            <r:URN type="urn" typeOfIdentifier= "Canonical">{% make_urn item.objectClass %}</r:URN>
            <r:TypeOfObject>Universe</r:TypeOfObject>
        </r:UniverseReference>
        {% endif %}
    </c:ConceptualVariable>
</ddi:fragment>